.comments_container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  .comments_title
  {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  .add_comment
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 200px;
    height: 40px;
    border: 1px solid #101010;
    button
    {
      font-size: 16px;
      background-color: white;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  .add_comment:hover
  {
    border: 1px dashed #101010;
  }

  .comments
  {
    display: flex;
    //align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    justify-content: center;
    .comments_item
    {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px dashed #101010;
      margin-bottom: 2rem;
      height: auto;
      flex-direction: column;
      .comments_item:last-child
      {
        margin-bottom: 0;
      }
      .parent_comment
      {
        display: flex;
        padding: 1rem;
      }
      .comment_text
      {
        line-height: 1.5;
        display: flex;
        padding: 0 1rem 1rem 1rem;
      }

    }
    .comments_item:hover
    {
      .parent_comment
      {
        text-decoration: underline;
      }
    }
  }
}
